[2015-11-26 15:20] marcells opened #1 "A method body, which only contains an exception leads to a weaving error"
When il code is weaved into the following method:
[code]

This exception occures:
[code]

[2015-11-27 13:48] Ralf1108 commented on #1
???? wtf

[2015-11-27 16:22] #1 closed

[2015-12-09 16:03] dgauerke opened #2 "Suppressing Rethrow"
Under certain circumstances it would be nice to not rethrow the exception.  Without changing the code too much, just adding an if statement like so would be great:

[code]

[2015-12-09 16:11] dgauerke commented on #2
Sorry, that should be
if (args.Exception != null)
    throw;

[2015-12-10 14:44] marcells commented on #2
It that the way you intend to use the feature?

Generation:
[code]

[code]

The aspect:
[code]

[2015-12-10 15:16] dgauerke commented on #2
Yes, that sounds like what I’d like.  I just needed some way of not re-throwing in the aspect.

Thanks,
David Gauerke

From: Marcell Spies [mailto:notifications@github.com]
Sent: Thursday, December 10, 2015 8:45 AM
To: vescon/MethodBoundaryAspect.Fody <MethodBoundaryAspect.Fody@noreply.github.com>
Cc: David <dgauerke@new.rr.com>
Subject: Re: [MethodBoundaryAspect.Fody] Suppressing Rethrow (#2)

It

[2016-01-14 13:34] marcells opened #3 "Compiling with code optimization throws NullReferenceException"
This method throws a NullReferenceException (`someObject` is never null), when it is compiled with **code optimization** (default Release configuration).

[code]

[2016-02-03 22:19] swestner opened #4 "Can not add arguments to OnMethodBoundaryAspect attribute"
If I try and add an initializer or constructor parameters to an OnMethodBoundaryAspect derived attribute, the attribute breaks the build.

For example, given something like :

[code]

If I try and decorate a method like this :

[code]

The build fails with this stack :

[code]

If I clone the repo and try and reproduce the error from within the repos unit tests, I can not, everything works fine.

[2016-02-04 04:06] swestner commented on #4
I can see now this is an issue with reference types. The `LoadConstOnStack` only handles primitives and value types. When I tested it in the repos unit tests, i tested using an int, so it didn't fail.

Oddly it seems like it should handle string but does not.

What would be involved in adding reference types to the handled const's?

I'm new to this, so I might be off, but looking at other projects

[2016-02-04 12:37] marcells commented on #4
We just didn't need it for our project. Feel free to get it work with strings or other possible types. If you get it working then simply send a pull request with the code changes/tests and we'll merge it.

According to the [MSDN](https://msdn.microsoft.com/en-us/library/aa288454(v=vs.71).aspx) the possible attribute values are restricted to:
- Simple types (bool, byte, char, short, int, long, floa

[2016-02-04 19:29] swestner commented on #4
Good to know about attribute type restrictions, thanks for the heads up.

Do you have any idea how to put Type on the stack?

String was trivial, it just required rearranging the existing logic. But I am not sure what opcode to use for Type, or if it more complex than using a single instruction.

[2016-02-04 21:01] marcells commented on #4
I'd try to make a simple sample and decompile it with [ILSpy](http://ilspy.net/). Then you should see what opcodes are needed, i think.

[2016-02-05 06:15] swestner commented on #4
Unfortunately the IL has nothing to indicate what is being pushed. I am currently looking for an alternative.

Also, would you except a PR that ignores unhandled types instead of throwing an exception? This would allow the user to manually handle anything the decorator does not.

For example, in the OnEntry method, a user could get the instance attached to the args, and manually resolve anything t

[2016-02-08 16:34] #4 closed

[2016-02-08 17:22] Ralf1108 commented on #4
should work now with "Type" and "string" attribute ctor parameters

[2016-02-08 17:24] Ralf1108 commented on #3
can not reproduce this issue currently ...need more info/ test scenario

[2016-02-08 20:27] swestner commented on #4
your awesome!!

[2016-02-08 20:35] swestner commented on #4
Also, if you feel like posting an answer on stack, here is the question : http://stackoverflow.com/questions/35215430/create-an-instruction-for-type

[2016-02-08 23:13] swestner opened #5 "Support OnException for Async Methods"
Currently OnException does not trigger if an exception is thrown from after an await in an async method.

[2016-02-09 08:12] Ralf1108 commented on #5
Can you provide an example code or a unit test to show this?

[2016-02-10 22:19] swestner commented on #5
Sure.

I have a project here that replicates the issue :

https://github.com/swestner/MethodBoundaryAspect.Test

I also have a fork of this project I have tried to replicate the issue in, but for some reason I get a serialization exception (something to the effect 'Task can not be serialized' when returning a task) when using the AssemblyResolver to invoke the async method.

https://github.com/swe

[2016-02-13 17:15] Ralf1108 commented on #5
ok thx for the test. I will have a look into it after I finished working on issue  Suppressing Rethrow #2

[2016-02-13 17:15] Ralf1108 commented on #5
Feel free to use my avatar as desktop background for the daily morning smile :-)

[2016-05-12 09:25] erikbrgr opened #6 "Sign assembly with a strong name"
Please add a strong name key and sign the MethodBoundaryAspect.Fody assembly.

This is useful for projects that require any referenced assemblies to be signed, e.g. Microsoft SharePoint or CRM.

[2016-05-16 21:02] marcells commented on #6
Fixed in pull request #7.

[2016-05-16 21:02] #6 closed

[2016-06-09 18:52] pdohogne opened #8 "Overriding OnException without overriding OnEntry results in a NullReferenceException"
Decompiled generated code looks like

[code]

[2017-01-19 16:53] marcells opened #9 ""Common Language Runtime detected an invalid program" with optimized code compilation"
The verification of the following method fails, when it is compiled with the 'optimize code' compilation flag:
[code]

It works, when the if part of the last if-statement is extracted into a separate method:
[code]

PE verification error:
`Vescon.Biquanda.Client.Presentation.Toolkit.MasterData.AbstractDialog::TabControl_SelectionChanged][offset 0x00000095] jmp / exception into the middle of an ins

[2017-01-19 17:20] marcells opened #10 "PE verification error"
The verification of the following method fails, when it is compiled with the 'optimize code' compilation flag:
See the comment in the code sample.
[code]

PE verification error:
`Vescon.Biquanda.Client.Presentation.Toolkit.MasterData.AbstractDialog::TabControl_SelectionChanged][offset 0x00000095] jmp / exception into the middle of an instruction.(Error: 0x80131847)`

[2017-05-22 16:24] dev-anton opened #12 "Generic type support"
I have following class

[code]

Error that I get during the compilation

[code]
Here is decompiled class

[code]
There's no generic parameter in the following line, and that is the reason of the problem.

`SampleClass<> sampleClass = (SampleClass<>) this;`

Possible solution:

I tried to use object type instead of declaring type for testing

InstructionBlockChainCreator >> CreateMethodExecutionArg

[2017-06-22 15:33] marceloconte commented on #3
Hi, first of all, great job you`re doing!  I just switched from postsharp and found out that every thing went very smooth, untill I`ve deploied with a custom transformation config copieng from debug or release configs didn`t matter, I got the error mentioned. I suppose the problem is related with the extension only compiling 'obj/debug' and not 'obj/release' or other custom locations. I changed co

[2017-06-23 11:13] Ralf1108 commented on #12
Nice catch!
Sorry for long delay. Your suggestions are now merged. Thx!

[2017-06-23 11:13] #12 closed

[2017-12-12 07:40] SparkRooster commented on #3
I have the same problem, in Release mode there is a NullReferenceException in some methods where an attribute overriding OnMethodBoundaryAspect

[2017-12-12 11:02] SparkRooster commented on #3
I have a reproducable. The following will in Release or Debug mode with Optimize code flag on, throw a NullReferenceException when called:

[WebMethodLogTracking]
public string Method(int number)
{
	switch (number)
	{
		case 1:
			return "Apa";
		case 2:
			return "bepa";
		default:
			throw new ApplicationException();
	}
}

where is an OnMethodBoundaryAspect override.
The following is a decompila

[2017-12-13 11:41] SparkRooster commented on #8
I have an attribute only overriding OnException and I do not get this error, either in Debug or Release

[2017-12-22 13:55] Ralf1108 commented on #3
@SparkRooster can you post the code of your aspect "WebMethodLogTracking" ?

[2017-12-22 15:18] Ralf1108 commented on #3
Problem was special handling of methods when they end with "throw" opcode.
The code with this switch or similar if statements produces il code which looks like they end with a "throw" but really have multiple return opcodes in between.

![grafik](https://user-images.githubusercontent.com/3949137/34302914-66254044-e733-11e7-8dc8-3f1e6d2781a6.png)

This caused the weaved code to duplicate the throw

[2017-12-22 15:19] #3 closed

[2017-12-22 15:29] Ralf1108 commented on #8
Seems to be already fixed.

Output of test : "IfMethodWithAspectOnExceptionOnlyIsWeaved_ThenTheAssemblyShouldBeValid" is:

![grafik](https://user-images.githubusercontent.com/3949137/34303323-1def171c-e735-11e7-81b7-f53539527cef.png)

[2017-12-22 15:30] #8 closed

[2017-12-22 15:51] Ralf1108 commented on #9
seems to be same as #10

[2017-12-22 15:59] Ralf1108 commented on #10
cannot reproduce.
Please try yourself via unittest: "IfStrangeMethodForIssue10_ThenTheAssemblyShouldBeValid"

[2018-01-31 08:08] sandimschuh commented on #2
Would be great to have this FlowBehavior. That would me possibly switch from PostSharp back to Fody :)

[2018-02-01 20:53] maulwuff opened #13 "Support net45"
Would it be possible to add net45 to the supported frameworks?
Currently only net461 is set, this would prevent using this package in my environment.
(while supporting netstandard2.0 is great ;-D )

[2018-02-03 09:07] marcells commented on #13
Could you try this and make a PR? Otherwise it could take a while until I find some time to investigate this issue.

[2018-02-08 13:24] maulwuff commented on #13
Found out that net461 supports referencing netstandard2.0 projects directly. This makes it possible to use netstandard2.0 dlls in net461 projects directly (no need to have 2 dlls for the same project anymore :-D )
There is also no reason to stick with net45 / net452 with repsect to the .net version which ships with win7 - in my case.

[2018-02-08 13:24] #13 closed

[2018-02-08 19:54] marcells commented on #13
Alright. Thanks for the info. 😉

[2018-02-10 08:45] marcells commented on #2
@ralf1108 is currently changing the internal implementation how the aspect is weaved. When he's finished, we will take a look at this issue.

[2018-02-12 20:53] maulwuff opened #14 "unhandled exception with ctor params"
I try to add params to the ctor, like `MyAspect(params string[] vals)`

 but this results in:

[code]

I also tried to leave the ctor alone and to it like this, with a property in the attribute:
[code]

but this throws the same unhandled exception.

[2018-02-12 21:07] maulwuff commented on #14
some test code. as soon as there is one override, the exception is thrown

[code]

[2018-02-16 06:39] marcells commented on #14
@ralf1108 Any idea about that?

[2018-02-16 08:10] maulwuff commented on #14
I think it has to do with https://github.com/vescon/MethodBoundaryAspect.Fody/issues/4#issuecomment-179808020  where you mention which types are allowed for attributes.
As far as I can tell, `array` is the only kind of param which is not yet supported and thus throws a `NotSupportedException`

[2018-03-29 12:48] Wautvda opened #15 "Add support for linked weaver files"
When using a linked weaver file (FodyWeaver.xml), this isn't recognised at buildtime (with the error Fody: Could not find path to weavers file).
The files is added as a link with the following code:
`
<ItemGroup>
    <Content Include="..\..\..\Resources\Config\FodyWeavers.xml">
      <Link>FodyWeavers.xml</Link>
    </Content>
  </ItemGroup>
`

This would be easier to use since all the weaver file

[2018-04-03 11:23] marcells commented on #15
That feature must be supported by https://github.com/Fody/Fody. The MethodBoundaryAspect is just a plugin for it. So please post this issue there.

[2018-04-03 11:23] #15 closed

[2018-04-05 14:06] dev-anton opened #16 "The weaver needs to update to at least version 3.0 of FodyHelpers"
Following exception occurred after the update on Fody 3.0.1:

Fody: The weaver assembly 'MethodBoundaryAspect.Fody, Version=1.0.7.0, Culture=neutral, PublicKeyToken=296379d5065c9d61' references an out of date version of Mono.Cecil.dll. Expected strong name token of '1C-A0-91-87-7D-12-CA-03' but got '50-CE-BF-1C-CE-B9-D0-5E'. The weaver needs to update to at least version 3.0 of FodyHelpers.

[2018-04-05 14:38] Ralf1108 commented on #16
yes, i will look into this !

[2018-04-06 09:37] Ralf1108 commented on #9
fixed with reimplementation of weaver

[2018-04-06 09:37] #9 closed

[2018-04-06 09:38] Ralf1108 commented on #10
try using latest method boundary aspect

[2018-04-06 11:24] marcells commented on #15
@Wautvda That issue looks like your proposal: https://github.com/Fody/Fody/issues/501

[2018-04-06 11:54] Ralf1108 commented on #16
please try version 1.0.8

[2018-04-06 12:14] Wautvda commented on #15
Sorry, indeed used the wrong repo to post in.
And thanks. Created the same kind of workaround for the moment as well :)

[2018-04-06 15:37] Ralf1108 commented on #16
please use 1.0.12
There were some issues with Fody 3.0.1 required usage of base class BaseModuleWeaver

[2018-04-11 09:03] Wautvda opened #17 "Issue when using 1.0.12: common language runtime detected an invalid program"
No idea if this is MethodBoundryAspect or the Fody specific, but when using the latest MethoudBoundry (with Fody 3.0.3 and Fody.Cecil 3.0.1) I get the following exception with some of the generated code (not all):

The code for the file that gives this exception is the folowing
MethodBoundaryAspect.Fody 1.0.3
[code]

MethodBoundaryAspect.Fody 1.0.12
[code]

I couldn't find out if this was Fody spe

[2018-04-11 12:37] dev-anton commented on #16
Thank you! It's ok.

[2018-04-12 13:48] maulwuff opened #18 "Mark Fody as development dependency"
I am having a hard time to create a nuget package with only MethodBoundaryAspect.dll as a neccessary reference. It always pulls Fody with it.
I've seen, that MethodBoundaryAspect.Fody.nuspec has development dependency set to true. This is not true. MethodBoundaryAspect.dll is needed throughout the system. Only Fody and FodyCecil can be left aside. Can you please mark Fody and FodyCecil as developm

[2018-04-12 15:13] Ralf1108 commented on #16
glad to hear that it works ;-)

[2018-04-12 15:13] #16 closed

[2018-04-12 15:28] Ralf1108 commented on #18
never heard of "development dependency" before.. so I will have to investigate this first

[2018-04-12 15:28] Ralf1108 commented on #18
do you mind make the required change and provide a pull request? :-)

[2018-04-16 19:50] damageboy opened #19 "Can MBA.Fody be applied on only public method boundaries?"
I want to implement a certain aspect that will only be applied on public APIs and not on private/protected/internal APIs...

Is this easily possible to do with MBA.Fody?

I would prefer a solution where the weaver can be somehow filtered to not even re-write the non public methods...

[2018-04-16 20:27] damageboy opened #20 "Simple project fails"
I've prepared the simple dotnet-cli based project and it fails to build:

Here's the project itself...

https://github.com/damageboy/fodytest

And the error:

[code]

[2018-04-17 06:58] damageboy commented on #18
I think he means that the MethodBoundayAspect.csproj should contain the package references as explained in the basicfodyaddin README.md:

https://github.com/Fody/BasicFodyAddin/blob/9e28d1dd2b89bc77588f510dfe7174b5623b13ee/BasicFodyAddin/BasicFodyAddin.csproj#L11

[2018-04-24 07:16] Ralf1108 commented on #19
this has to be configurable at the aspect level. If I have time i will investigate this

[2018-04-24 07:17] Ralf1108 commented on #17
we had issues when a method with type parameter was weaved where the type parameter is used also for a paramter of the method.

can you replace this type to object, insert a direct cast inside the method and check if this works?

[2018-04-24 10:01] marcells commented on #2
Currently were are working on debugging issues of the aspect. Do you mind making a PR for this feature?

[2018-04-24 13:42] Wautvda commented on #17
Unfortunately this isn't possible in the given implementation, since we are restricted.
But I've tried this in a separate project and there this seems to be a solution. But not a solution we can use at the moment :(.

[2018-04-24 13:44] maulwuff commented on #14
I worked around this, by creating various ctors with different numbers of arguments. The array is created afterwards inside the class ;-)

[2018-04-28 16:52] dev-anton opened #21 "Cannot debug weaved method"
The problem experienced after the [reimplemented weaver](https://github.com/vescon/MethodBoundaryAspect.Fody/tree/7dee9b49964fc6f82c3d2567375d80267b91338e) changes

I used skipped test "IfWeavedTestProgramIsExecuted_ThenTheDebugSymbolsShouldWorkAndTheDebuggerShouldBeAttachable" for checking up: breakpoint into TestClass.DoIt is never hitting.

[2018-04-28 17:38] dev-anton commented on #21
I created an issue to know your opinion - possible it’s Fody or Mono issue. As I understood no. I will research further.

[2018-05-02 11:25] Ralf1108 commented on #21
your pull request solved this issue 👍
thx for contributing

[2018-05-02 11:25] #21 closed

[2018-05-02 12:52] Ralf1108 commented on #21
fixed in nuget package 1.0.14

[2018-05-03 12:55] Wautvda commented on #17
The issue remained with the 1.0.14 version. The compiled code is a bit different:
[code]

When running PEVerify I got the following which made no sense:
[code]

[2018-05-13 19:13] keith-anders opened #23 "Exception thrown if single aspect type has multiple constructor overloads of same length"
Create an aspect that has multiple constructor overloads of the same length. Use one of those overloads, and an exception will be thrown during weaving.

I have a fix ready for it that I could submit a PR for, but there's no "contributing" file, so I don't know whether you would accept a PR from just anyone or what your standards are.

If you want to see what I did so you can review it, [here is t

[2018-05-14 09:27] Ralf1108 commented on #18
we try to separate the weaver stuff and the OnMethodBoundary base class into separate assemblies. Then we could remove the dependency to fody for the latter one.

[2018-05-14 09:44] marcells commented on #14
@maulwuff Please check https://www.nuget.org/packages/MethodBoundaryAspect.Fody/1.0.16.

[2018-05-14 10:51] maulwuff commented on #14
Whoops, 1.0.16 breaks existing code!  I don't even get to the place to weave the above posted repro :-(
1.014 still weaves as expected, but not for the repro in this ticket.

So 1.0.16 doesn't fix this ticket, but also breaks existing code which works in 1.0.14

[2018-05-14 10:56] maulwuff commented on #18
Um, there is no dependency on Fody or Cecil from MethodBoundaryAspect.dll - that is fine.

I think it is enough to modify the nuget package spec like shown in comment by damageboy.
There is also a spec page on this at  https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2018-05-14 11:07] marcells commented on #18
We also want to use a lower Target Framework (e.g. 4.5.2) for our base class. That is only possible by separating the base class and runtime attributes from the weaving code. The weaving code is dependent on FodyCecil, why it has to be at lease 4.6.

[2018-05-14 11:09] marcells commented on #14
Could you try setting it as a constructor parameter, instead of a property?

[2018-05-14 11:16] maulwuff commented on #23
this ticket was added in PR #24 and is currently live in 1.0.16 but breaks existing code - in my case.
[code]

I narrowed it down to this code to create the exception above:
as soon as I call a ctor with a single parameter from the decorated property, it fails.
(it also fails with 2 parameters ;) )

[code]

[2018-05-14 11:26] maulwuff commented on #18
ah ok, fair enough ;)
I had to go back to v0.35 to get .net4.5.2 support on a project where I was not able to set .net 4.6.2 as the base because of contract stuff

[2018-05-14 11:27] maulwuff commented on #14
let's first fix #23 and then come back to this one.

[2018-05-14 15:45] keith-anders commented on #23
The following compiles without issue using 1.0.16 in either .net Framework or .net Standard.

[code]

[2018-05-14 16:55] damageboy commented on #19
@maulwuff I think I'm not entirely following...
Does this allow me to intercept public methods only?

[2018-05-14 17:15] maulwuff commented on #19
It allows you to decorate those methods where you put the attribute at.
You can compile your project and look at the dll with ILspy to see what has happened

Am 14. Mai 2018 18:55:20 MESZ schrieb damageboy <notifications@github.com>:

[2018-05-14 18:53] keith-anders commented on #14
The following compiles without issue using 1.0.16 in either .net Framework or .net Standard.

[code]

[2018-05-15 07:40] maulwuff commented on #23
The key is, to have the attribute in another dll than the decorated class.
Find a sample project attached. It contains two projects, both of them have a class to weave.

- project `MethodBoundaryTest` will compile and weave just fine (it holds the attribute implementation)
- project `UnitTestProject` will throw `Didn't found matching constructor`

[MethodBoundaryTest.zip](https://github.com/vescon

[2018-05-15 07:44] maulwuff commented on #14
@keith-anders please see the sample project in #24

[2018-05-17 12:50] Wautvda commented on #17
Sorry. Haven't had the time to test yet. Probably later today or tomorrow.
I'll get back to you with the result

[2018-05-18 08:34] Ralf1108 commented on #14
@maulwuff  can you retest your issue with v1.0.39?

[2018-05-18 08:35] Ralf1108 commented on #23
@keith-anders is this issue then resolved with your PR #27?

[2018-05-18 09:15] marcells commented on #18
I made released a new version (1.0.41) right now. It should be possible to use the aspect under .NET 4.5.1. I did also mark the packages a developmentDependency.

Could you check, if it is working for you?

[2018-05-18 09:15] #18 closed

[2018-05-18 13:57] keith-anders commented on #23
My issue is resolved on 1.0.41. Thanks.

[2018-05-18 13:57] #23 closed

[2018-05-22 08:16] maulwuff commented on #23
works for me, too :+1:

[2018-05-22 08:27] maulwuff commented on #14
works really nice.
I just had to replace the ctor of the attribute with a `params string[]` property, and all existing code compiled fine.
I also really like, that no Mono dlls show up in the output folder anymore ;-)

[2018-05-22 08:27] #14 closed

[2018-05-22 08:27] maulwuff commented on #14
tested wit 1.0.41

[2018-05-26 08:32] marcells commented on #19
Sure, that would be great. It should be implemented somehow like postsharp does it (http://doc.postsharp.net/t_postsharp_extensibility_multicastattributes). And please write tests for it.

[2018-05-28 06:49] Wautvda commented on #17
Seems like it is working! Haven't been able to do a full set of tests; but the basic ones run. Thx!

Sorry for the delay, but heavy couple of weeks.

[2018-05-28 06:55] #17 closed

[2018-05-28 06:56] marcells commented on #17
Thanks for the info. Please open a new issue if you have some trouble with the aspect.

[2018-05-28 18:36] keith-anders opened #28 "Crash on ref return"
ref return parameters were added in C# 7.0. However, weaving a method with such a return type causes a runtime exception when the OnExit handler attempts to access the MethodExecutionArgs's ReturnValue property.

That can be reproduced with this simple example:

[code]

In short, MBA does not properly convert the ref return type to a non-ref object before setting it as the ReturnValue property of

[2018-05-29 08:15] Ralf1108 commented on #28
hi, yes I already discovered that PE Verify doesnt support newer c# language versions very well.

 see https://github.com/dotnet/roslyn/issues/26196

So for now mark the test with an "PEVerifyNotSupported" attribute so we find them later more easy.
We currently dont have another issue...so just make your PR with skipped PE verify

[2018-05-29 17:52] keith-anders commented on #28
I can mark the test with an attribute so that it can be easily revisited later, but I still have to ignore this particular PEVerify error for **all** tests, not just mine. This is because the weaved version of `TestAssembly` will still have the ref return from the unweaved assembly even though the weaver didn't touch that class. When PEVerify finds that class, it won't care that the weaver didn't

[2018-05-30 12:33] Wautvda opened #29 "type argument 'T' violates the constraint of type parameter 'T'."
With the latest release I have the following exception in the most basic application:

Testproject where this fails can be found at https://github.com/Wautvda/TestProjectMethodBoundryAspect
The only thing it does is serialize a class to XML and the serialisation methods are intercepted by the MethodBoundryAspect and print some testcode to console.

If the Attribute is removed everything runs fine.

[2018-05-30 13:19] Ralf1108 commented on #28
can't you just use a flag which will be forwarded to the PEVerify step which will then be skipped?
Maybe a field or base class method will do it, e.g. "SkipPEVerify()".

If it is possible I want to keep the pe verify for the others tests to be sure.

[2018-05-30 13:27] marcells commented on #29
@Ralf1108 thinks it is because of the generic constraint ` where T : class`. It could, be that we don't copy the constraints when the method is weaved.

Do you think you could create a test an fix that issue? You can find the place in the code [here](https://github.com/vescon/MethodBoundaryAspect.Fody/blob/30a1f76da8cd8320d96088fce6fc44a437566595/MethodBoundaryAspect.Fody/MethodWeaver.cs#L251).

[2018-05-30 13:30] Ralf1108 commented on #5
possible workaround: move async method body in normal method and apply aspect to this method

[2018-05-30 13:32] Wautvda commented on #29
Yeah could be. I'm trying to log method returntypes and stumbled on the same problem. Sometimes it isn't possible to get the Generic type through reflection.
I'll give the fix and test a go and make a PR when I found something!

[2018-05-31 12:42] marcells commented on #29
Thank you very much!

[2018-05-31 12:57] marcells commented on #20
Hm, did you find any solution? I tried it building with dotnetcore2.0 target framework and it doesn't work.

@Ralf1108 Do you have an idea? The project looks very simple.

[2018-05-31 13:33] Wautvda commented on #29
Almost there, just got a problem testing with interface and implementedclass (for example TestClass) as parameter.

Struct, class and new() run fine.

[2018-06-04 11:14] Wautvda commented on #29
Fix in PR #30

[2018-06-05 18:40] alishahbaz111 opened #31 "MSBuild Error when using "dotnet build" or "msbuild""
The solution builds fine when using Visual Studio 2017, but fails when using the dotnet build or msbuild command.
The solution consists of 3 projects: MainProject, MainProject.UnitTests and MainProject.IntegrationTests.
Building just the main projects succeeds without any errors even when using cli commands, but UnitTests and IntegrationTests fail. Both Tests are referencing the MainProject in Vis

[2018-06-05 18:42] alishahbaz111 commented on #31
The error log is pretty much the same as https://github.com/vescon/MethodBoundaryAspect.Fody/issues/20

[2018-06-05 18:43] marcells commented on #31
Alright, thanks. I could mark it as duplicate then?

[2018-06-05 18:54] marcells commented on #20
@damageboy Could you try to build it with Visual Studio (not CLI)?

[2018-06-06 11:06] marcells commented on #31
In the solution of issue #20 the aspect weaving is failing. There are no unit test projects. It's very simple.

[2018-06-06 15:31] damageboy commented on #20
@marcells It works in VS on windows...

So now we have issues with command line build and linux only?

[2018-06-06 16:05] marcells commented on #20
Looks so. Hm, I seriously have no idea, what it could be.

[2018-06-06 16:13] marcells commented on #20
So, the following we tried:

VS: -> Working
Windows: `msbuild /t:restore` and `msbuild fodytest.csproj` -> Working
Windows: `dotnet build` -> Exception above
Linux: `dotnet build` -> Exception above

So, it's a dotnet sdk specific issue. But no idea, what is done different there.

[2018-06-06 17:12] damageboy commented on #20
@marcells right.
It's pretty much a know "thing" that VS internally uses msbuild.exe rather than `dotnet` ('ve been bitten by this befoe when building `.resx` files with msbuild vs. dotnet

Since Fody officially support dotnet a dn SDK style projects, there must be something specific with this AddIn... Is there an easy way to debug the adding at work?
Maybe calling `DEbugger.Break()` from inside t

[2018-06-06 17:49] marcells commented on #20
That could work. The weaving process happens during the build time. Never tried using Debugger.Break() when building on Linux. Let's see what will happen.

[2018-06-06 19:06] alishahbaz111 commented on #31
Yes it does. Visual Studio and msbuild on Windows work, but "dotnet build" or "dotnet test" doesn't.

[2018-06-06 19:10] marcells commented on #20
`Debugger.Launch()` or `Debugger.Break()` does nothing on my Linux machine. :-(

[2018-06-06 19:14] alishahbaz111 commented on #20
Could this be related? https://github.com/Fody/Fody/issues/330

[2018-06-06 21:21] damageboy commented on #20
This happens on windows too, as long as you build using `dotnet build`, I'm guessing the debugger break method should work there more consistently

[2018-06-08 14:01] Ralf1108 commented on #29
fixed with PR #30

[2018-06-08 14:01] #29 closed

[2018-06-09 19:52] keith-anders commented on #20
So I have a change that fixes this. That is, it allows me to weave and run the given sample project with `dotnet build` without errors and getting the expected output. I've also only tried it on windows. But I get the same error described above when I run it without my change, so I do think it's a legitimate fix.

The issue is that when the weaver creates an instance of `MethodBase` (or anything f

[2018-06-10 06:57] marcells commented on #20
Awesome, that you found the issue. I have no good idea, too. Maybe @Ralf1108 has one?

If not, I would suggest, you make a comment in the source code and exceptionally skip the test.

[2018-06-11 08:33] bergziege opened #33 "Generic Types: Method not fully instantiated"
Maybe this follows on #12

I have following .net core class

    public class GenericHibernateDao<TEntity, TId> : IGenericHibernateDao<TEntity, TId> where TEntity : Entity{
        [FodyDummy]
        public IList<TEntity> GetAll() {
            return CurrentSession.CreateCriteria(typeof(TEntity)).List<TEntity>();
        }
    }

Error that I get during execution/test run (not on compile):

[2018-06-11 08:44] Ralf1108 commented on #33
yes this looks like a bug and you analysis seems to be correct

[2018-06-11 15:52] keith-anders commented on #28
Ok, I added a PR that I think is probably the best way of handling it: leave the existing TestAssembly fully verified in all the tests that use it, but have a separate test assembly that contains unverifiable code, and ignore the errors it's known to produce only when verifying that assembly. Let me know if any problems with this approach.

[2018-06-11 21:36] swestner commented on #5
Retrying with the latest method boundary aspect didn't work. I updated the Nugets in https://github.com/swestner/MethodBoundaryAspect.Test and the test still failed.

Moving the body of the async method to a sync method isn't really an option for us. We have gone async all the way and there are too many calls to other libraries (both system and external) that we would need to force to sync and the

[2018-06-13 13:12] Ralf1108 commented on #28
fixed by #34

[2018-06-13 13:12] #28 closed

[2018-06-13 13:14] marcells commented on #10
The code does not exist anymore. So, no issues now. :-D

[2018-06-13 13:14] #10 closed

[2018-06-16 16:13] keith-anders commented on #33
The issue is that when `MethodDefinition` is passed to a `Call` or `Callvirt` instruction, it tries to call it on the `TypeDefinition` of the declaring type, even if it has a proper `TypeReference`. Since `TypeDefinition` loses all the generic argument info and the cloned version of the unweaved method was being passed in as a `MethodDefinition`, it was trying to call the method on the open generi

[2018-06-28 07:08] marcells commented on #5
Currently we don't have a solution for it. It's quite complex, cause of the generated state machine by the c# compiler. Similar issues should occur for methods with yield return.

If you have an idea how to implement this feature, feel free to make a PR.

[2018-06-28 07:10] #33 closed

[2018-06-28 07:11] #20 closed

[2018-07-05 10:12] mpotta opened #36 ".."

[2018-07-05 10:12] #36 closed

[2018-07-09 13:53] keith-anders opened #37 "Structs are unweaveable"
A weaved struct seems to throw exceptions.

[code]

I'll submit a PR in the next few days.

[2018-07-09 19:51] marcells commented on #37
Cool, thank you. :+1: We did never try that.

[2018-07-10 23:30] marcells commented on #37
Merged in pr #38.

[2018-07-10 23:30] #37 closed

[2018-07-17 14:52] keith-anders commented on #5
I just submitted a PR for this. Apologies for the large PR, but it's a complex feature. I don't know why it's not showing up in the history of this issue.

[2018-07-17 15:05] Ralf1108 commented on #5
Can somebody verify that this is fixed with PR #39 ?

[2018-07-17 19:16] keith-anders commented on #5
So there is one more issue I have to fix. Specifically, I've now discovered that it is throwing a compile-time exception when weaving an async method with an aspect that handles `OnException` but no aspect which handles `OnEntry`. My fault for not writing simple tests before complex ones, I suppose. I will submit a PR for that now.

However, upon looking at the test project provided by @swestner I

[2018-07-26 23:42] clawrenceks commented on #2
I echo that thoughts of @sandimschuh here. I think FlowBehaviour is the only thing which I need to move from PostSharp over to this Aspect.

[2018-07-27 05:14] marcells commented on #2
As a workaround, is it possible to use something like this in the `OnException(args)` method?

[code]

It's not exactly the same stacktrace, but the result should be the same.

[2018-07-27 12:23] Wsm2110 commented on #5
This still is not 100% bulletproof though. Any chance of this having an update anytime soon? Having troubles compiling using 1.0.62

[2018-07-27 12:44] keith-anders commented on #5
The sample project given by @swestner builds fine with 1.0.62 (though the test doesn't pass, pending my previous question). Do you have a repo that reproduces the issue you're seeing, @Wsm2110 ?

[2018-07-27 13:00] Wsm2110 commented on #5
It`s a private repo managed by my company, so i guess i`ve to look into this myself. But just giving you the heads up it gives troubles with large complex async await projects.

I will keep you updated if i find anything worth mentioning

[2018-07-27 14:58] clawrenceks commented on #2
Actually I think perhaps I am looking for something different.

All of the code in my scenario is async and what I was hoping to achieve was in the event of an exception, to swallow the exception and return a failed result object.

My failed result object would contain information I want a user to see in a UI. When I say swallow the exception, what I am really looking to do is prevent it from bein

[2018-07-27 19:30] clawrenceks commented on #2
In case it adds additional context, the following shows how I achieve what I described above using an Interceptor in PostSharp 6.

I realise interception is different than decoration, so perhaps what I am doing below cannot be achieved using MethodBoundaryAspect?

[code]

[2018-08-01 12:44] marcells commented on #2
I'm sorry to say, that that's currently not implemented, that after OnExit/OnException the return value is not taken from the MethodExecutionArgs. You could try to implement it and make a PR.

Take a look [here](https://github.com/vescon/MethodBoundaryAspect.Fody/blob/cf0805630714e7c3d56064e8165c40154f447e97/MethodBoundaryAspect.Fody/MethodWeaver.cs#L67).

[2018-08-01 14:52] adimosh opened #41 "MethodBoundaryAspect library necessarily depends on NetStandard.Library"
Importing MethodBoundaryAspect forces the library that it is imported in to depend on NetStandard.Library. Also, it only allows for .NET 4.5.2 or above and .NET Standard 2.0.

If the NetStandard.Library package is not imported, then the following error occurs:

Such a limitation could easily be fixed in the library by explicitly stating its dependencies.

Since Fody itself can use PrivateAssets="a

[2018-08-01 14:52] adimosh commented on #41
Forking this in order to develop a fix and a pull request ASAP.

[2018-08-01 15:34] marcells commented on #41
It's already separated. It could be possible to target an older framework in porject `MethodBoundaryAspect.csproj`.

Attributes (needed during runtime, cause implemented aspects depend on it): https://github.com/vescon/MethodBoundaryAspect.Fody/tree/master/MethodBoundaryAspect

Weaver (needed during compile time for weaving):
https://github.com/vescon/MethodBoundaryAspect.Fody/tree/master/MethodBo

[2018-08-01 21:27] keith-anders commented on #2
I just submitted a PR to change return values in OnExit. That should allow @clawrenceks 's use case, which would take care of the async case. I can work on the synchronous case this weekend or some time next week.

[2018-08-03 13:46] adimosh commented on #41
The problem that I'm identifying is that, although the weaver is a compile-time dependency, the attributes are not. If they are contained within the same NuGet package, then the minimum target frameworks are the one imposed by the NuGet package. Even though the attributes would work just fine targeting .NET Standard 1.3, for example, the target project must be .NET Standard 2.0.

Also, the target

[2018-08-06 07:45] Ralf1108 commented on #2
this issue should be fixed by PR #43
@dgauerke can you verify that your issue is fixed?

[2018-08-10 13:57] KleaTech opened #44 "There is no FlowBehavior.Return"
I need a way to skip the method's body, and for that I need FlowBehavior.Return as in PostSharp.

[2018-08-10 15:52] Ralf1108 commented on #44
Hi, nice idea.
We accept PR ;-)

[2018-08-11 06:29] Ralf1108 commented on #44
You are correct. Mimicing the behaviour of post sharp users have it easier to transition to MBA and learned stuff from post sharp can be reused

[2018-08-11 08:13] KleaTech commented on #44
This is what I'd like to achive. I'm not sure if this is the correct way to do it.
[code]
Note that this is not the complete code, it just shows the basic idea.

[2018-08-12 18:13] keith-anders commented on #44
Ok. I'm pretty much done with the `Return` flow behavior when set from `OnEntry`. However, I don't know what to do for the `OnException` case. That is, if I have two aspects handling `OnException`, and the first one changes `FlowBehavior` to `Return` (or `Continue` for that matter), should the second one get its `OnException` handler called or its `OnExit` or neither? I don't know what PostSharp's

[2018-08-13 12:11] Ralf1108 commented on #44
If there is no other recommendation from @KleaTech regarding the expected behavior I think we should keep it for now like you implemented it. Maybe later during usage of this feature there will be more insights what is the correct behavior with specific use cases.

Regarding the "ref return".
For now we should throw just an NotSupportedException. In my opinion the only scenarios where the "ref ret

[2018-08-13 13:04] KleaTech commented on #44
I don't have enough experience to tell what is the expected behaviors in the special cases. But since you asked, here's my opinion. I think the "return ref" case is not that important, so the NotSuppertedException is fine for now.
Regarding the OnException case, I don't know how PostScript handles it, but I think this would be a sufficient behavior: if you set FlowBehavior to Return in any hook (O

[2018-08-14 01:05] keith-anders commented on #44
To make `OnExit` respect `FlowBehavior.Return` would definitely contradict PostSharp's behavior. @Ralf1108 what do you say?

[2018-08-14 08:16] Ralf1108 commented on #44
@KleaTech
would this implementation not simplify your use case?
If method is called and a cached value exists -> return
If method is called and a no cached value exists -> method is invoked and return value is added to cache. Next method call will use the cached value.

[code]

[2018-08-14 08:45] Ralf1108 commented on #44
Thinking about the whole feature and discussing it with a colleage:
What @KleaTech really want is a "MethodInvocationAspect". This also exists in PostSharp.
Our "MethodBoundaryAspect" is more specialized for adding code which is executed everytime.

So for implementing the "return flow behavior" I think the OnEntry and OnExit on all aspects should be callled to not introduce strange and difficult

[2018-08-14 13:37] keith-anders commented on #44
So, @Ralf1108 , are you saying that `OnExit` should not be called even if `FlowBehavior.Return` is used in `OnEntry`, despite that being the way PostSharp does it? For example, this...

[code]

gets weaved to this in PostSharp...

[code]

Or, at least, that's how I understand it, according to the [docs on return](http://doc.postsharp.net/t_postsharp_aspects_flowbehavior). But you're saying that in

[2018-08-15 07:11] KleaTech commented on #44
@Ralf1108 Your example should satisfy my use case. It's worth to think about though, what would happen if we would have a caching attribute and a retry attribute together. The MethodInterceptionAspect is a good idea, so there will be two different approach to interact with a method.

[2018-08-20 13:14] keith-anders commented on #44
@Ralf1108 What do you think? Should it run every `OnEntry` and `OnExit` even though that's not how PostSharp does it?

[2018-08-21 18:39] Ralf1108 commented on #44
Hi,

maybe I wrote it too complicated :-)
Of course I want that for each OnEntry there is a OnExit or OnException call. Sorry for the irritation.
The way it works should be as intuitive as it can be and so far post sharp has the most experience in that area. We should stick to them.

Regarding last comment from @KleaTech  ( https://github.com/vescon/MethodBoundaryAspect.Fody/issues/44#issuecomment

[2018-08-29 01:32] kasajian opened #45 "Update Readme to indicate installation instructions"
It's unclear whether any or which assemblies require to be installed on the customer's computer that has an assembly that uses this technology.   The Readme should indicate this information, or refer to documentation which does.

[2018-08-29 07:33] martijnvdm commented on #44
Hi,

So is there any plan to implement "FlowBehavior.Return"? I would really like this feature as well.

[2018-09-04 08:55] rualmar opened #46 "Weaving fails with aspect inheritance"
I have a situation where I want to implement 2 aspects: one to log exceptions and other to log and swallow them. Initially I had implemented them this way

[code]

The problem is that when I build the project, I get this error:

I implemented both aspects separately and now it works. I wanted to know if that's the expected behavior or it's an unexpected error.

Thank you.

[2018-09-05 11:45] Ralf1108 commented on #44
@keith-anders
do you plan to make an PR?

[2018-09-05 11:46] Ralf1108 commented on #46
seems like a bug

[2018-09-05 12:36] keith-anders commented on #44
I did, but I got sidetracked onto other things. If someone else wants to do it, they will probably get theirs in before me.

[2018-09-10 13:00] plompp001 commented on #5
We are also are having an issue with Async methods using MethodBoundaryAspect.Fody. We are getting an 'InvalidProgramException' on async (void) methods containing a try-catch. Please take a look at the sample project (https://github.com/plompp001/SampleFodyAsync). The issue shows up at RunAsyncAndGetError().

Could you help us fixing this issue? Thank you in advance.

[2018-09-13 18:42] clawrenceks opened #47 "MethodBoundaryAspect cannot be used in dotnet standard with default NuGet restore"
The behaviour I am describing below is something that I have seen in both .net core 2.0 applications and .net standard 2.0 class libraries.

When installing the MethodBoundaryAspect.Fody package, from the UI or command line tools, the library is not immediately usable without manual package configuration. This is demonstrated below. I can not see any documentation regarding this anywhere, is this

[2018-09-15 21:02] cpwood commented on #47
Same here, but hat tip to @clawrenceks for the workaround!

[2018-09-17 12:26] Ralf1108 commented on #44
maybe you can make your current progress public via github so someone can continue from this?

[2018-10-02 00:09] tdyen opened #48 "Wiki Namespaces wrong"
The examples in the front page wiki use the namespace
    using MethodBoundaryAspect.Fody;

but version 1.0.66 uses the namespace

    using MethodBoundaryAspect.Fody.Attributes;

[2018-10-03 09:46] patrickcdsouza opened #49 "Support for modification of ref parameters in the "OnEntry" override"
It would be nice if **ref** parameters to a method could be changed as supported in the [PostSharp On­Method­Boundary­Aspect](http://doc.postsharp.net/t_postsharp_aspects_onmethodboundaryaspect)

A screenshot of the relevant section from the link above is as seen below
 ![image](https://user-images.githubusercontent.com/20051643/46402602-19b0b400-c6f8-11e8-9c77-294165a9edad.png)

Basically the fun

[2018-10-22 22:39] JamesFlames opened #50 "Apply Aspect globally in AssemblyInfo.cs"
Is it still possible to apply Aspects globally at assembly level?
How is this done? Can wildcards be used to apply Aspects just to a namespace within an assembly?

[2018-10-24 11:36] mfe- commented on #47
This should be added to the install guid! Thanks

[2018-10-24 22:09] marcells commented on #50
Yes, it is possible, but cannot be restricted to namespaces. It generally applies to all public methods and properties.

@Ralf1108 Could you confirm this information and maybe update the documentation?

[2018-10-24 22:10] marcells commented on #48
Oh, thanks for the info. We'll update it.

[2018-10-24 22:15] marcells commented on #49
Hi,

sorry for the late response. We currently have a lot of work to do. Do you think, that you could implement it and make a PR?

@Ralf1108 How complicated is it to implement this feature? Or do you have hints for @patrickcdsouza to make a PR?

[2018-10-24 22:19] marcells commented on #47
Uh, thanks for the information. :+1: We will investigate that issue. If you have a solution for it (beside documentation) let us know it.

[2018-10-25 09:53] patrickcdsouza commented on #49
@marcells Thanks for the response :) . I am a newbie to Fody extension development and have started going through the MethodBoundaryAspect.Fody source. I could pick this up. As mentioned before any hints would be appreciated.

[2018-10-25 11:28] Ralf1108 commented on #50
Just add the following line to set your desired Aspect to be weaved for the whole assembly.
You can omit the "Attribute"-Suffix.

`[assembly: Log]`

[2018-10-25 11:29] Ralf1108 commented on #50
To support namespace filters we take a PR ;-)

[2018-11-07 14:24] jarrad-obrien opened #51 "Can you get the return type of a method?"
I'm trying to change the `ReturnValue` in `OnExit` for a method. I'm getting the value from a JSON file, so I need to cast it before I can set it as the `ReturnValue`. Is it possible to get the return type of the method?

For example: `arg.ReturnValue =(arg.Method.ReturnType).jsonFile["newValue"]`

[2018-11-08 08:49] Ralf1108 commented on #51
Please check the argument of the "OnExit" method.
It contains a property called "Method" of type MethodBase.
You try to cast this to a "MethodInfo" and then access its "ReturnType" property.

[2018-11-08 08:51] Ralf1108 commented on #51
A "MethodBase" object could be a "MethodInfo" or a "ConstructorInfo". The later one wont have a return type.

[2018-11-08 08:51] Ralf1108 commented on #51
[https://docs.microsoft.com/en-us/dotnet/api/system.reflection.methodbase?view=netframework-4.7.2](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.methodbase?view=netframework-4.7.2)

[2018-11-21 06:57] Brunhack opened #52 "Simple Example for "MethodBoundaryAspect.Fody""
Hello

I try to implement the "MethodBoundaryAspect.Fody" but i cannot access to the abstract class "OnMethodBoundaryAspect". I don´t know why!
I think i initialize the "MethodBoundaryAspect.Fody" wrong :/

Is it possible to insert a MethodBoundaryAspect-Sample into this folder?
Would be nice! :)

[2018-11-21 19:12] JamesFlames commented on #52
Maybe try changing the line which references MethodBoundaryAspect.Fody in
your references file to something like this
<PackageReference Include="MethodBoundaryAspect.Fody" Version="1.0.66" />
ie nothing about privateAssets etc.
That seemed to help me.

On Wed, Nov 21, 2018 at 7:57 PM Brunhack <notifications@github.com> wrote:

[2018-11-22 08:20] JamesFlames commented on #52
So my suggestion didn't work?

On Thu, Nov 22, 2018 at 8:29 PM Brunhack <notifications@github.com> wrote:

[2018-11-22 08:45] Brunhack commented on #52
Unfortunately yes. :/
I use the same version!

[2018-11-22 17:16] marcells commented on #52
We are currently investigating the issue. We can reproduce it, but have no idea, why it doesn't work anymore. :-/

[2018-11-22 21:03] JamesFlames opened #53 "MethodBoundaryAspect fails on dotnet build"
MethodBoundaryAspect is not building with dotnet build. I can still get it to build with MSBuild.

Here is a simple project where it won't build with dotnet build.
https://github.com/JamesFlames/SimpleMethodBoundaryAspectProject

[2018-11-28 22:27] JamesFlames opened #54 "MethodBoundaryAspect fails if assembly has a delegate"
MethodBoundaryAspect fails to weave some assemblies if the assembly has a delegate. A global assembly attribute is used to weave everything in an assembly. It fails saying the method has no body (meaning the delegate).
Here is a simple example.
https://github.com/JamesFlames/FailsToWeaveIfAssemblyHasDelegate/tree/master/FailsToWeave
I've added a pull request #55  that seems to fix this and also tw

[2018-12-05 07:35] Martinay commented on #53
#20

[2018-12-06 03:10] JamesFlames opened #56 "Watch variables while debugging an assembly. MethodName has "$_executor" prepended"
When debugging MethodBoundaryAspect weaved code I can't add variables to Visual Studio's Watch, but rather have to look at 'Locals' where the names anonymized to __var_0, __var_1, etc.
Is there anyway around this, to get the actual variables names or to use Visual Studio's watch and hover over variable value display in debug mode?

I'm using MethodBoundaryAspect Exception catching.  MethodBase.Get

[2018-12-10 13:01] Ralf1108 commented on #56
Hi,
yes this is a known problem. Somehow the debug information is not correctly restored during weaving.
The weaving logic moves the method bodies into special method named "$_executor....." which is then called by the original method in addtion to the aspect methods.

Check method "Catel.Fody.CecilExtensions.UpdateDebugInfo()".

Maybe you have time to fix this by yourself and send us a PR?

[2018-12-10 16:23] Brunhack commented on #52
Thank you! ;)

[2018-12-17 14:01] Martinay commented on #54
#55

[2018-12-17 14:01] #54 closed

[2018-12-30 11:47] tom-englert opened #58 "Update needed to support future fody versions"
As of Fody 3.2.5 the strategy to lookup weavers has changed:
https://github.com/Fody/Fody/wiki/AddinSearchPaths

The legacy lookup will be no longer supported in the next versions of Fody, so this weaver needs to add the props file to the NuGet package to be usable with future Fody versions.

[2019-01-07 15:04] #53 closed

[2019-01-07 15:14] Martinay commented on #41
Referencing only the needed packages instead of the NETStandard.Library is not the current approach anymore. This has changed [dotnet faq](https://github.com/dotnet/standard/blob/master/docs/faq.md#should-i-reference-the-meta-package-or-should-i-reference-individual-packages).
With commit 9d1a77a the needed version is changed to .netstandard 1.0, therefore I think everything from this issue is sol

[2019-01-07 15:14] #41 closed

[2019-01-07 15:18] Martinay commented on #58
thanks for the information

[2019-01-07 15:18] #58 closed

[2019-01-07 15:19] #48 closed

[2019-01-07 15:22] Martinay commented on #47
should be fixed with version 2.0.104. If the issue still occures please reopen this bug or create a new one.

[2019-01-07 15:22] #47 closed

[2019-01-07 15:46] Martinay commented on #52
sample for netcore is fixed and added

[2019-01-07 15:46] #52 closed

[2019-01-08 07:27] #51 closed, assigned to nobody

[2019-01-08 07:32] #2 closed

[2019-01-23 10:48] rolandso commented on #44
Any updates on this? I need to stop my method execution or return it inside OnEntry.. In PostSharp there should be FlowBehaviour.Return for this problem.

[2019-02-12 08:39] rualmar commented on #56
I saw that code was extracted from Catel.Fody repository, but the original code has changed since. Is it ok if I update it with the current code? I'll send a PR.

[2019-02-12 11:18] rualmar commented on #56
I've sent a PR with the new code from the Catel.Fody repository. I've tested it with the HelloWorld solutions included here and now the debugger detects the names

[2019-02-12 17:21] Martinay commented on #56
Thank you again for your pull request.
The issue should be fixed with version 2.0.109 . Please reopen this issue or create a new one, if the error still occures.

[2019-02-12 17:21] #56 closed

[2019-02-13 00:17] EtienneT commented on #44
@keith-anders any update on the pull-request?  Maybe make it public so that someone else can continue?  This is exactly the feature I need.

Thanks,

[2019-02-13 02:11] keith-anders commented on #44
Sorry about that, everyone. I'll endeavor to get something in within 48 hours from now.

[2019-02-13 08:12] rualmar commented on #56
Unfortunately, I've tested it on a full project and it keeps using the "__var_N" name on local variables, I don't know what are the differences between it and the test project. I'll keep testing and see if I can reach a good result and send a PR if I can solve it.

[2019-02-15 00:50] keith-anders commented on #44
I forgot about a commitment I have tonight. I'm almost done with the change, though. Tomorrow night for sure.

[2019-02-16 03:41] keith-anders commented on #44
I just submitted #61 that should implement this. Here is what I implemented:

After each `OnEntry` is run: the code checks for `FlowBehavior.Return`. If found, then all previous aspects (whether or not they had an `OnEntry` to run) will get their `OnExit` called in reverse order. Setting the `ReturnValue` somewhere either in the aborting `OnEntry` or in one of the `OnExit`s is important.

After ea

[2019-02-18 06:22] rolandso commented on #44
@Ralf1108 Can you look over the PR?

[2019-02-18 09:38] Ralf1108 commented on #44
PR looks good, but we have to ensure that we mimic PostSharp behavior for FlowBehavior. Or else migrators to MBA could get confused.
@keith-anders Does this match the PostSharp behavior?

[2019-02-18 12:50] keith-anders commented on #44
Here are the behaviors I implemented in a more line-item format:

1. OnEntry sets FlowBehavior.Return => use args.ReturnValue, run the previous aspects' OnExit in reverse order, do not execute the unwoven method.
2. Non-state machine methods: OnException sets FlowBehavior.Return or FlowBehavior.Continue => use args.ReturnValue, run the previous aspects' OnExit in reverse order, do not rethrow the

[2019-02-18 13:30] Ralf1108 commented on #44
Thanks for the clarification!
Regarding the different behavior of MBA.Fody and PostSharp. Should we fix this (in a new issue/PR) ?

So if the remaining behavior for the synchronous calls works as in PostSharp then i will merge the PR. For upcoming problems with async methods we wait for new issues.

@KleaTech please confirm the implemented FlowBehavior with latest version so we can close this issu

[2019-02-18 17:37] keith-anders commented on #44
I think it should probably be fixed, yes. Introduce a new OnSuccess method that takes the properties of the current OnExit, and rewrite OnExit to act more like PostSharp's.

However, as that is a breaking change to behavior, it's a major version increment. It might be worthwhile to put together a number of these changes and make them all in a single major version upgrade. Just an idea.

[2019-02-19 09:01] KleaTech commented on #44
I tested my usecase with the code below. It works as expected. I'm not sure about how this compares to the PostSharp implementation, I haven't used that.

Thank You for your work! You can close the issue.

[code]

[2019-02-19 09:51] Ralf1108 commented on #44
@KleaTech thx for your feedback and the example. I will then close the issue

[2019-02-19 09:51] #44 closed

[2019-03-14 14:49] firatakyildiz opened #62 "CS0103 while debugging on .NET Core 2.2"
Hello,

After I upgraded my Web Api project from .Net Core 2.1 to 2.2, I can no longer see variables when debugging. I am getting "CS0103 : variable not defined in current context" errors. Although intellisense recognizes and autocompletes variable names in Immediate Window, it says variable not defined there either. Removing the attribute fixes the problem.

Note that this problem is caused when

[2019-03-29 11:03] minhhungit opened #63 "get parameter's name of method"
Hi team,
Currently it looks we just have values of parameters, any way that we can get parameter name

Thank you

[2019-04-01 05:50] Ralf1108 commented on #63
Hi,
Please check the provided MethodExecutionArgs in each OnXXX method. There you have the property Method which can be casted to MethodInfo.
This is the same object you know from .Net reflection which contains every info about the weaved method.

Please check if it is really a MethodInfo because it could also be a ConstructorInfo.

Check
https://docs.microsoft.com/en-us/dotnet/api/system.reflecti

[2019-04-01 06:20] minhhungit commented on #63
@Ralf1108 thanks, but I worry that using reflection will reduce performance

[2019-04-01 07:00] Ralf1108 commented on #63
The method info will be currently provided even if you don't use it.
For performance consideration you have to Benchmark your code.
If it is still too slow provide optimize PR or use commercial PostSharp

[2019-05-04 13:13] itoop2019 opened #64 "In the OnException method get the value from the body of the main method?"
Hi, developers!

Tell me, please, is there a possibility in the OnException method to get the value from the body of the main method?

For example, I perform some method, the state of my objects in the method changes, and there is an exception. I need to log the state of my objects at the time of the error.

[2019-05-04 17:34] Ralf1108 commented on #64
With "get the value from the body of the main method" you mean local variables from the method?
This is not possible because would live on the stack. I could access them somehow via low level stack analyzing but it is not supported in any way.

In the aspect you can only access the arguments with which the method was invoked including the object reference if it is an instance method.

Please check

[2019-05-04 18:54] itoop2019 commented on #64
Fine! Thank you very much!

This option is not even bad.

[2019-05-04 18:54] #64 closed

[2019-06-20 06:24] #63 closed

[2019-06-26 14:00] nicolastakashi opened #65 "Integration with Polly to implement retry operations"
Hello everyone!

I've made search in issues and other places like StackOverflow and Google and I could't find nothing about that.

I want to create a attribute to implemente resilient operations, using [Polly], but I have a lot of doubts and I don't found way to make this implementation.

Looking to [Postsharp Method Interception] documentation, we can see a way to know when our method is invoked

[2019-07-06 23:25] minhhungit opened #66 "Common Language Runtime detected an invalid program"
Hi team, last week I have a bug on production site
This is **a case** that caused bug (I call it as "FAKE" code - short code to reproduce):

[code]
=> It's just a piece of "real" code I applied to production last week (but it can cause error)
=> Fake code cause error on both DEBUG and RELEASE, local site & production site
=> "Real" code worked on Local (Debug mode)/TEST (Release mode) site BUT DID

[2019-07-08 03:30] minhhungit commented on #66
I also created a simple project for testing here
[DemoBug.zip](https://github.com/vescon/MethodBoundaryAspect.Fody/files/3366579/DemoBug.zip)

[2019-07-15 20:47] Ralf1108 commented on #65
Hi, sorry for late answer.

Unfortunately what ou want to do is not possible with MBA.
What you want to implmement is a "MethodInterceptionAspect" where you have control over the method invocation like Retry or Skipping the invocation at all.

MBA is only a MethodBoundaryAspect which means you can inject code into the boundaries of a method invocation like OnEntry or OnExit. It is not possible to

[2019-07-15 20:48] Ralf1108 commented on #66
Hi, thx for the bug report.
The async support was implemented by @keith-anders so maybe he has time to check this out?

[2019-07-15 20:50] Ralf1108 commented on #62
Yes we currently have problems fixing th debug information to match the weaved il code.
Unfortunately I dont know if we can fix this easily

[2019-07-21 13:06] mantas-masidlauskas commented on #66
Hi,

We used this library first time, and I got same CLR exception running existing tests.

Not getting exception with 2.0.111 version.
Appeared only in 2.0.113 version.

[2019-08-23 14:05] robertocpsilva1 opened #67 "Build fails when using Fody 6.0 and adding attribute to method invoking static method"
This works on 5.2.0 but fails on 6.0

The code is pretty simple, just calling a static method on a 3rd party library (SpreadsheetGear)

[code]

[code]

Not that I need or even know what the features are but thought I'd raise it.
Does it just need updated to 6.0?

[2019-08-26 09:53] Martinay commented on #67
It looks like fody added a check of the addins version ([commit](https://github.com/Fody/Fody/commit/76a7bc9c4bd6b7aa1643ebafbc110c735f9b37b9)) .

Fody added from version 3.3.3 and upwards an [Licensing/Patron FAQ ](https://github.com/Fody/Home/blob/master/pages/licensing-patron-faq.md)and expects consumers of the library to pay. On the other side it still has the MIT license.
It's said in the faq

[2019-10-05 23:39] ndrwrbgs commented on #66
Seems like this is still present, the min-repro I could make was:

[code]

[code]

[2019-11-14 20:47] AlexVPerl commented on #67
I'm also facing this issue with Fody 6.0+. Builds fine with Fody 5.2 without problems though.

I see that the referenced commit by @Martinay has:
`ValidateWeaverReferencesAtLeastTheCurrentMajorOfFody`

But that just seems that MethodBoundaryAspect needs to be updated to reference 6.+ or am I wrong?

Also, a bit confused by mention of patron expectation - does that somehow prevent the build using F

[2019-11-20 13:38] tom-englert commented on #67
Fody 6.x includes a newer version of Mono.Cecil, which is required to gurantee lossles transformation of the IL-code. This version of Mono.Cecil is not 100% backward compatible, thats why you get the MissingMethodException.

[2019-11-25 08:49] #67 closed

[2019-12-30 14:23] haefele opened #70 "Global Aspect weaves it's own OnEntry method, ends up with a StackOverflowException"
Hello, I have an simple OnMethodBoundaryAspect that is supposed to do some logging for me.
I apply it to the assembly, so it get's added to every class and method in the assembly.
But my aspect is in that assembly too. So it will be added to it's own OnEntry method, which will lead to a StackOverflowException.

[code]

In AssemblyInfo.cs
[code]

![image](https://user-images.githubusercontent.com/2

[2020-01-03 11:32] HA07Z7XE commented on #70
I have the same issue. I've moved my `OnMethodBoundaryAspect` to a separate assembly to solve it.

[2020-01-14 11:56] runbyme commented on #56
@rualmar @Martinay @Ralf1108  Hi, have you got fix for that? I also facing same issue with strange local variables __var_0, __var_1, etc.

[2020-01-14 12:16] runbyme commented on #62
@firatakyildiz @Ralf1108 I have same issue on .NET Framework. Do you have solution for that? I also see only __var_0, __var_1 etc. variables while debugging in Visual Studio :/

[2020-01-14 12:36] runbyme opened #71 "__var_0, __var_1... while debugging in Visual Studio"
I see that this issue still exists: https://github.com/vescon/MethodBoundaryAspect.Fody/issues/56
While debugging in Visual Studio local variables are swaped to __var_0, __var_1 (.NET Framework, aspect on method)

[2020-01-14 13:04] firatakyildiz commented on #62
@runbyme Nope, have no idea.

[2020-01-14 15:04] runbyme commented on #62
So it works for you when you have `[AttributeUsage(AttributeTargets.Method)]` attribute on aspect? Becouse for me it doesn't work either.

[2020-01-15 17:55] denmitchell commented on #70
When I have an aspect the calls method properties and attached the associated attribute to an entire class, I add the [AspectSkipProperties(true)] attribute to my class to prevent the stackoverflow issue -- an aspect calling properties, which calls the aspect ... etc.

[2020-02-18 19:49] kampilan opened #72 "Weaving Exception on Async WinForm Event handlers"
I am wanting to use this addin to support automatic logging using my logging framework. So far it works great except for this edge case.

Async WinForm event handlers have the signature of private async void SomeEvent( object sender )

This is an odd signature, notice they don't return Task, and I assume this is being treated as invalid.

These methods throw an InvalidOperationException during bui

[2020-02-19 03:53] kampilan opened #73 "Is there a reason DisableWeaver can only applied to methods and not classes?"
I am using this addin to implement automatic logging with my logging framework. When adding the automatic logging at first the attribute is applied on the assembly(ies). As more detailed manual logging is added to a particular class, I would like to mark that class with DisableWeaver. Is there anything that prevents DisableWeaver from being applied to a class other then its AttributeUsage does not

[2020-02-19 13:12] Ralf1108 commented on #72
Support for async was implemented by @keith-anders and we are not experienced enough to implement the IL Code for the async state machine.
It seems that method with signature "async void" are not supported.
I don't see a corresponding test in [AsyncClass.cs](https://github.com/vescon/MethodBoundaryAspect.Fody/blob/master/src/MethodBoundaryAspect.Fody.UnitTests.TestAssembly.NetFramework/AsyncClass.

[2020-02-19 13:16] Ralf1108 commented on #73
It was only used for disabling weaving for some methods.
But if you want to support also classes check class [ModuleWeaver](https://github.com/vescon/MethodBoundaryAspect.Fody/blob/1ea8b480935ca824639254798acc4aa597e7f33b/src/MethodBoundaryAspect.Fody/ModuleWeaver.cs) and the method "IsIgnoredByWeaving".
If you would extend this we like to accept your PR :-)

[2020-02-19 22:19] kampilan commented on #72
Thanks for the response. I have seen you mention on other issues that @keith-anders  is the person that did all the async stuff. I can't say I remember him chiming in on any of those issues. Is he still actively involved in the project?

[2020-03-30 11:25] lukaszksoll opened #74 "ct fody"

[2020-05-03 17:40] #74 closed

[2020-05-03 17:41] Martinay commented on #74
please provide more information and reopen the bug or create a new one

[2020-05-19 13:17] DamirAinullin commented on #70
I also have such issue. Can you fix it please?

[2020-05-19 22:26] DamirAinullin commented on #66
I also got such error. Can you fix it please?

[2020-05-19 22:29] ndrwrbgs commented on #66
Could you provide a repro?

On Tue, May 19, 2020, 3:26 PM Damir Ainullin <notifications@github.com>
wrote:

[2020-05-19 22:35] DamirAinullin commented on #66
@ndrwrbgs It is the same as previous ones. Async method with non-generic Task as return value.

[2020-06-22 02:20] miokowpak commented on #19
I was just about to submit this same issue.

If someone can confirm that this repo is still actively accepting PRs, I'd be happy to put something together.

[2020-06-22 02:28] miokowpak commented on #5
I'm hoping to use this weaver to do exception wrapping in my project.  If I'm understanding correctly, that will require the behaviour that @swestner has demonstrated in his test repo (i.e. the state machine throws the exception thrown by the `OnException` method.  If there's another way to accomplish this that I'm missing, please let me know.

In an ideal world, I'd volunteer to work on this, but

[2020-07-21 14:52] samirsommaior opened #76 "Is it somehow possible to prevent the execution of the method where the aspect is applied?"

[2020-08-06 18:06] ddalalrms commented on #62
We are having issues with local variables invisible at Debug time ... when will this be fixed you think?

[2020-09-23 21:40] Oceania2018 commented on #76
Just set `args.FlowBehavior = FlowBehavior.Return;`

[2020-09-23 21:52] Oceania2018 opened #77 "Is it possible to make the Arguments be updated?"
@Ralf1108 @marcells
Thanks for this great library.
I want to use this library to implement `AutoGraph` feature in my [TensorFlow.NET](https://github.com/SciSharp/TensorFlow.NET) repo.
Most of the things are working perfectly, there is only one thing doesn't meet the my situation. I need to change the arguments before method is executed.

I use ILSpy to check the generated code:
Original Code:
[cod

[2020-09-24 07:47] Ralf1108 commented on #77
Interesting requirement. This would match that we allow changing the return in the aspect so why not also modify the input arguments.
I will look into this

[2020-09-25 07:22] #76 closed

[2020-09-25 13:05] Ralf1108 commented on #77
see PR #78

[2020-09-28 13:31] Ralf1108 commented on #49
PR #78  could solve the original issue as well. Feel free to verify this after merge is completed

[2020-09-29 11:00] Ralf1108 commented on #77
PR is merged.
Please try out the latest version 2.0.130 and close this issue if it is resolved

[2020-09-29 11:01] Ralf1108 commented on #49
PR is merged.
Please try out the latest version 2.0.130 and close this issue if it is resolved

[2020-09-29 11:29] Ralf1108 commented on #77
I detected a limitation.
The values which are forwarded by ref wont be written back to the origin method.
If this is required this has to be fixed separately.

[2020-09-29 11:30] Ralf1108 commented on #49
I detected a limitation.
The values which are forwarded by ref wont be written back to the origin method. Only the weaved method will receive the ref arguments eventually modified in the aspect.
If this is required this has to be fixed separately.

[2020-09-29 11:54] Ralf1108 commented on #49
Also no async support yet. This has to be implemented as well.

[2020-09-29 11:54] Ralf1108 commented on #77
Also no async support yet. This has to be implemented as well.

[2020-09-29 16:00] Oceania2018 commented on #77
Still doesn't work. I upgrade to `2.0.133` version.

![image](https://user-images.githubusercontent.com/1705364/94583386-ff583500-0242-11eb-854f-80d9bbc14107.png)

[2020-09-30 09:34] Ralf1108 commented on #77
I fixed the copy back step for ByRef arguments to the caller. But this should not affect your sample.

Please try out the sample on the main page with MBA version at least 2.0.134

[code]

[2020-09-30 09:43] Ralf1108 commented on #49
@patrickcdsouza your issue is now fixed.
With the latest MBA and your aspect annotated with the "AllowChangingInputArgumentsAttribute" all of your tests are now green.

[2020-09-30 09:43] #49 closed

[2020-09-30 10:15] Ralf1108 commented on #73
you can now annotate classes and assemblies withe the `DisableWeavingAttribute` to disable weaving.
Requires MBA version 2.0.138

[2020-09-30 10:15] #73 closed

[2020-09-30 13:58] Oceania2018 commented on #77
@Ralf1108 It works now. Appreciate for your work.

[2020-09-30 13:58] #77 closed

[2020-10-03 13:14] Oceania2018 opened #79 "Conditional statement replacement"
Hi @Ralf1108 , the `AllowChangingInputArguments` works very well. Appreciate for your great help.
Now another more challenge task come up:

Original code:
[code]

Parsed code I need:
[code]
For simplicity, can we use `MethodBoundaryAspect.Fody` to replace `a < b ? a : b` to `tf.cond(a < b, () => a, () => b)` ?

[2020-10-04 20:51] Ralf1108 commented on #79
Hi @Oceania2018,

unfortunatly your requirement would require to implement a whole new fody weaver.
The MBA doesn't change the method bodies of the  original methods. It just encapsulate the original method call to intercept the start and end.

So unfortunatley MBA would be no help there for you.

[2020-10-06 08:01] #79 closed

[2020-10-06 08:01] #65 closed

[2021-02-22 11:05] jmartschinke commented on #71
![image](https://user-images.githubusercontent.com/79451982/108699759-f58ee100-7505-11eb-95e4-b2a620679c7e.png)

Issue still persists as of current v2.0.138

[2021-02-23 15:49] jmartschinke commented on #71
Pull Request opened on https://github.com/vescon/MethodBoundaryAspect.Fody/pull/80

[2021-02-28 20:55] Martinay commented on #71
fixed in 2.0.139
thanks again for your pull request

[2021-02-28 20:55] #71 closed

[2021-03-01 12:55] jmartschinke opened #82 "Some enhancement ideas"
It seems to me that many of the currently active issues arise because of the cloning of the original method. There is also still some missing debug information in certain circumstances, which I will report later.
I tried to change it locally so that instead of weaving like this:

[code]

this would be woven:

[code]

I could only partially get that to work. The OnEntry() and the content of the Met

[2021-03-01 13:26] Ralf1108 commented on #82
The original design choice was to move the original method into another method and just call it. As we are no MSIL expert we didn't want to complicate the weaving process.
But you are right, this messes up the debug informations.

If you need help can you specify what exact problem you encounter?

[2021-03-01 14:31] Martinay commented on #62
can you please retry this with version 2.0.139
there was a similar issue #71 which is fixed now

[2021-03-03 19:02] Murphybro2 commented on #66
I came across this too, but in a slightly different fashion, I'll post the code needed to reproduce below. Weirdly enough it only happens when both the async call AND the if statement are included. If I remove either of them, the other part will run will fine. So it looks to be a combination of the two in this case.

`    class Program
    {
        static async Task Main(string[] args)
        {

[2021-03-03 19:24] Murphybro2 commented on #62
I just updated and can confirm it appears to be working okay now!

[2021-03-03 23:22] Martinay commented on #62
Thanks for verifying this. If the error occurs again please reopen or create a new bug.

[2021-03-03 23:22] #62 closed

[2021-04-09 08:44] kou-h commented on #66
Hello, I have this problem. Is there any way to solve it.

class Program
{
    [MethodBoundary]
     public async Task Invoke(HttpContext httpContext)
    {

    }

    public class TraceLogAttribute: OnMethodBoundaryAspect
    {
        public override void OnException(MethodExecutionArgs args)
        {
        }
    }
}

[2021-04-09 08:59] minhhungit commented on #66
I am sorry I know this advise is rude but I used [Postsharp](https://www.postsharp.net/) and it works fine
This issue was created near 2 years but no solution also @keith-anders  who wrote the code (as @Ralf1108 said) didn't have any response :(

I can not wait, you might not wait too LOL

[2021-04-09 09:11] kou-h commented on #66
thank you

[2021-04-15 10:33] jerviscui opened #83 "await Async method will create wrong IL"
TestClass:

[code]

method boundary Aspect:

[code]

caller:

[code]

The result:

OnEntry 4
front 4
OnExit 4
OnExit 4
OnEntry 4
end 4
OnExit 4

[2021-04-20 09:42] Rahul9179 commented on #44
Hi Team,
I have implemented KingAOP in our projects but we are not able to invoke our cache attribute in DataContext level. Ca you please suggest me hw can we invoked or anything is missing for this.

Thanks in advance.

[2021-04-20 10:56] Ralf1108 commented on #44
@Rahul9179
please create a new issue for your request and also a small demo code so we can understand what exactly is the problem or your expectations. Your two sentences are to general... something doesn't work...
If you can provide more specifics, best would be a test case in code, then investigation would be easier and also faster

[2021-04-20 11:00] Ralf1108 commented on #44
@Rahul9179
also you wrote that you use KingAOP which is a totally different project than our MethodBoundaryAspect.
If your problems is connected to the usage of KingAOP then you would get better answers when creating an issue on their repository.

[2021-05-30 15:01] BEDIRHANSAMSA opened #84 "Duplicate 'CustomAspect' attribute"
When I use the same Aspect in one method gets this error
![image](https://user-images.githubusercontent.com/44173331/120109226-2c157100-c171-11eb-82a7-3d3c6a77ab35.png)

[2021-05-30 15:02] BEDIRHANSAMSA commented on #84
![image](https://user-images.githubusercontent.com/44173331/120109239-3fc0d780-c171-11eb-9bf7-6684773a75cc.png)

[2021-05-30 15:06] BEDIRHANSAMSA commented on #84
I resolved this issue, go your aspect and put
`
    [AttributeUsage(AttributeTargets.Class|AttributeTargets.Method,AllowMultiple = true,Inherited = true)]
    public class CustomAspect: OnMethodBoundaryAspect
    {
    }
`

[2021-05-30 15:06] #84 closed

[2021-06-10 02:52] jerviscui opened #85 "How about MethodBase.GetCurrentMethod() performance"
I see the weaved dll.

[code]

`__var_.Method` use the static method `MethodBase.GetCurrentMethod()` get current method, this method performance is bad.

Are there any other implementations? Just like `typeof(Type).GetMethod()` or `typeof(this).GetMethod()`?

[2021-06-14 19:01] Ralf1108 commented on #85
When profiling these approaches in this system I got:

[code]

// * Summary *

BenchmarkDotNet=v0.13.0, OS=Windows 10.0.18363.1440 (1909/November2019Update/19H2)
Intel Core i7-6700K CPU 4.00GHz (Skylake), 1 CPU, 8 logical and 4 physical cores
  [Host]     : .NET Framework 4.8 (4.8.4300.0), X86 LegacyJIT
  DefaultJob : .NET Framework 4.8 (4.8.4300.0), X86 LegacyJIT

|               Method |      Me

[2021-06-15 15:46] jerviscui commented on #85
Thank you for your contributions very much!
I'm just starting to learn IL weave.
Hope I can help.

[2021-07-27 12:59] epitka opened #86 "Q: Is there a way to apply this to all public and only public methods of type?"
I want to do some post processing on every public method invocation of an aggregate. Is there a way to filter application of this?  If I apply to a class level it gets invoked for all methods, even on properties.

[2021-07-27 13:36] Ralf1108 commented on #86
Currently there is no possibility to filter for specific methods. This has to be implemented first.

Filters could then be:

Methodname via RegEx
By accessibility modifier
By type (method or property)

Another possibility would be to use the approach from PostSharp and CompileTimeValidate method. But this requires executing code from the aspect during weaving.

[2021-09-02 12:19] jmartschinke opened #87 "Constructor weaving"
It would be nice to be able to also weave the constructor.
Is this a general restriction of fody?

[2021-09-03 22:23] Ralf1108 commented on #87
I am not really sure. Normally a ctor should also be just a method but this has to be checked.

Would this be an expected default behavior that also ctors are intercepted? E.g. if you have a logging aspect every instantiation should be logged?

[2021-09-06 09:22] jmartschinke commented on #87
I do think that constructor intercepting should be a default behaviour. When implementing the attribute you can always just not log the constructor (MethodBase.IsConstructor).

[2021-09-17 09:55] buvar commented on #85
Any solution for that? I just found the problem yesterday when benchmarking method call with and without this addin. Ten million calls without addin took 12ms, with almost 9000ms. When I added MethodBase.GetCurrentMethod to my "pure" method, the time was similiar to the time with addin. For me would be enough to be able prevent setting MethodExecutionArgs.Method at all as I can handle it myself in

[2021-10-01 12:10] Ralf1108 opened #88 "Invalid program with specific method"
This method lead to an "Invalid program" exception during runtime. Removing "DisplayWaitCursor" attribute fixes the problem
This should be tried to reproduce.

[code]

[2021-10-13 21:30] mesheets opened #89 "Providing Generic of Return Type to Enable Async Support"
Is it feasible to update the method signature of the `On{Event}()` methods to include a generic of the return type in the method signature?
- `OnEntry<TReturnType>(MethodExecutionArgs args)`
- `OnExit<TReturnType>(MethodExecutionArgs args)`
- `OnException<TReturnType>(MethodExecutionArgs args)`

At least to the extent needed for the use case in question, I have been able to get a workable solution

[2021-10-18 19:21] Ralf1108 commented on #85
I managed to implement storing the method info in static fields to avoid using "Method.GetCurrentMethod".
With this change to overhead of an aspect invocation shrinks from

841,12ns - 56,83ns = 784,29ns (v2.0.139)
to
81,63ns - 56,76ns = 24,87 ns (>=v2.0.140)

**This is a speedup of 50x :-)**

Here are the benchmark numbers:

|                  Method |      Mean |    Error |   StdDev |
|----------

[2021-10-18 19:33] Ralf1108 commented on #85
The benchmark project is here [project](https://github.com/vescon/MethodBoundaryAspect.Fody/tree/master/src/MethodBoundaryAspect.Fody.Benchmark)

[2021-10-18 19:46] Ralf1108 commented on #70
As a workaround you can apply the [DisableWeavingAttribute](https://github.com/vescon/MethodBoundaryAspect.Fody/blob/master/src/MethodBoundaryAspect/Attributes/DisableWeavingAttribute.cs) to your aspect class/method

I try to implement as default behavior that aspects wont weave themselves

[2021-10-20 22:55] Ralf1108 commented on #70
should be fixed in [v2.0.144](https://www.nuget.org/packages/MethodBoundaryAspect.Fody/2.0.144)

[2021-10-21 02:05] jerviscui commented on #85
You are amazing. 👍

I've been so busy with work and family lately.
I'll learn from your code.

[2021-11-02 12:18] CodingOctocat opened #90 "How to make the asynchronous OnEntry method execute after the execution of the decorated method?"
I found that if the `OnEntry` method is asynchronous, it will run alternately with the decorated method, which is not the result I want, and I want `OnEntry` to be executed in its entirety first.

[code]

[2021-11-10 08:19] Ralf1108 commented on #90
Unfortunately we don't support this.
Your method "GetFileAsync" runs concurrent because there is no Task return type for "OnEntry" so nobody is awaiting the call.

[2021-11-15 02:40] shuizhugeju opened #91 "It is possilbe to make a Retry attribute?"
It is possilbe to make a Retry attribute

[2021-11-15 09:45] Ralf1108 commented on #91
Unfortunately with our aspect it is only possible to execute code before and after the method call but it is not possible to reexecute the weaved method.

In PostSharp this is possible via the [MethodInterceptionAspect](https://doc.postsharp.net/method-interception#intercepting-method)

Alternative to AOP you can use the Polly library to create error handling and mitigating policies in code:
[http

[2021-11-15 09:45] Ralf1108 commented on #91
example retry Polly policy:
[https://github.com/App-vNext/Polly#retry](https://github.com/App-vNext/Polly#retry)

[2021-11-18 12:43] Ksdmg commented on #72
I'm facing the same issue. Would be awesome if someone could provide a solution.

[2021-11-23 10:33] shikihane opened #92 "How can discard exception in async task correctly ?"
I want to simplify the process of cancel async task with MethodBoundaryAspect.
So, I write the code below:
[code]
and caller:
[code]
But he will throw a System.InvalidOperationException:“An attempt was made to transition a task to a final state when it had already completed.”
How can i discard  OperationCanceledException correctly ?
The effect I expected is as below:
[code]

[2021-11-24 11:56] Ralf1108 commented on #92
The "InvalidOperationException" indicates there is a bug in the FlowBehavior-Handling for async methods. Async support was added by @keith-anders. This would have to be investigated.

But can you explain the original use case as I think the usage of aspect here is not recommended?
I don't understand what the expectation should be if every method which is annotated with "CreateAysnContext" overwrit

[2021-11-25 03:34] shikihane commented on #92
Thank you for your wise advice，I will consider your advice very well, That is really universal practice currently. I think it is necessary for me to explain my trouble. I am develop about an automation system that consist of a lot of motion and can stop,play,pause,skip so on.

Therefore, there is a lot of IO behavior and long time calculation  in the system. Unfortunately most of the code was inhe

[2022-01-10 15:36] hasanmanzak commented on #87
Hi, any update on this?

[2022-01-28 03:57] mesheets commented on #89
In building this out, I have attempted to refactor the code into something more usable; however, I have been encountering issues that might appear to relate to how `MethodBoundaryAspect.Fody` is implemented.

My approach is to split this into two parts:
1. Handle generic `OnEntry<T>()` / `OnExit<T>()` / `OnException<T>()`
2. Handle setting `arg.ReturnValue` when the decorated method is `async`.

F

[2022-01-28 22:26] mesheets commented on #89
Following on the above post (including the noted issues that still exist), here is an update that incorporates async capabilities.  In addition to the existing three overrides [ `OnEntry()`, `OnExit()`, `OnException()` ], this proposes to add the following:
* `OnEntry<T>()`
* `OnExit<T>()`
* `OnExitWithTask()`
* `OnExitWithTask<T>()`
* `OnException<T>()`

Updated code is below.  If there is a way

[2022-01-31 08:30] Ralf1108 commented on #89
Regarding the problem of resolving the OnEntry() method I think the weaver will throw the exception because it finds 2 OnEntry() methods, one which is parametrized and the non parametrized. This can be fixed easily in the weaver.
It can also be fixed by you by renaming your OnEntry() method.

Regarding the optimization to remove unused aspect methods.
If you override them in your derived "OnTypedM

[2022-01-31 13:37] mesheets commented on #89
OK, if it is not differentiating on generic parameters and then just picks the first one it finds, that seems to to follow why order matters.  When combined with the other items, though, a challenge appears to be a cascading set of changes that might be required?

The problem right now is that for a class intended to be a reusable base class (perhaps even potentially as part of `OnMethodBoundaryAs

[2022-01-31 22:39] Ralf1108 commented on #89
@mesheets your problem regarding the duplicate method names should be fixed in v2.0.145 with commit 3608d6b.

Then your code using your derived aspect "MyTypedMethodBoundary" compiles and runs.
But in your aspect you use the "ReturnValue" for storing the aspect task and also setting it in the "MyTypedMethodBoundary".
Was this by intent? If yes you should use a result class to hold multiple values.

[2022-02-03 13:00] mesheets commented on #89
Thank you!  I will test further, but this update appears to have addressed the items in question.

I think some of the ReturnValue usages noted were some artifacts left over from earlier testing and troubleshooting.

[2022-02-04 14:50] Wenski opened #93 "Issue when debugging intercepted methods that contain if statements"
Hi,

I found some problem in VS2022 when debugging intercepted methods that contain if clauses. It seems that local variables that are defined within the if statement are somehow renamed so that VS cannot find them when debugging. Neither can it find the when hovering over over the corresponding token in the source window nor in the watch window, nor in the immediate window. The message is always

[2022-03-18 08:33] FerdinandBrunauer commented on #83
I think your OnExit method should look like the following:

`
    /// <inheritdoc />
    public override void OnExit(MethodExecutionArgs arg)
    {
        if (arg.ReturnValue is Task t)
        {
            t.ContinueWith(_ =>
            {
                Console.WriteLine($"OnExit {Thread.CurrentThread.ManagedThreadId}");
            }, TaskContinuationOptions.ExecuteSynchronously);
        }

[2022-04-18 20:07] kiragengis opened #94 "Not able to read attributes from Properties"
Hi,

I am not able to read the **attributes** from the **Properties**.

This is my property:
[code]

I am using this code to read:

[code]
What should I do to read the attributes? I just want to skip some methods and properties from logging.

[2022-04-18 20:32] kiragengis commented on #94
I figured out the problem. I have to add the attribute to the GET and not to the property.

[2022-04-18 20:32] #94 closed

[2022-04-29 08:20] jerviscui commented on #83
It's been too long.
But, I think I wan to say, `OnEntry` and `OnExit` run many times.
Beacuse there is many times run `OnEntry` and `OnExit` in the TaskStateMachine.

[2022-05-31 17:54] gioce90 opened #95 "C#11 introduce Attribute with Generics. Do you have any plan?"
[C#11 introduce Attribute with Generics](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-11#generic-attributes). Do you have any plan to introduce this feature?

Actually this doesn't work:
[code]

[2022-05-31 20:03] Ralf1108 commented on #95
Ah, didn't know about this new feature.

What is the exception about? Thrown at weaving or execution time?

[2022-06-01 13:22] gioce90 commented on #95
Hi,

At execution time, there is an `System.InvalidOperationException` when it tries to run the DoSomeWork() method.

Here a stacktrace from my real solution:
[code]

[2022-06-01 13:22] #95 closed

[2022-06-01 13:23] gioce90 commented on #95
Hi,

At execution time, there is an `System.InvalidOperationException` when it tries to run the DoSomeWork() method.

Here a stacktrace from my real solution:
[code]

[2022-06-28 10:56] jowliwon opened #96 "Exception logging only on highest call stack level?"
While using `OnException` to catch exceptions. I sort of want to be able to inform the user of things going wrong with a dialog.
How ever, if the exception that gets thrown belongs to a sub in the call stack, the `OnException` will get triggered all the way to its origin place.
Is there any proper way to keep track if this is the first triggered 'OnException' in the call stack chain?
As in my case

[2022-06-28 12:58] Ralf1108 commented on #96
I don't understand how there can be multiple exceptions in one user action. Do you mean when using concurrent/parallel method calls?

All in all I would prefer using the unhandled exception handler of your UI/message pump framework to intercept exceptions as last resort and then show the corresponding dialog.
For WPF check this out: [WPF unhandled exception handler](https://stackoverflow.com/quest

[2022-08-10 07:55] jowliwon commented on #93
Yepp, this issue is confimed. Have observed the same thing.
Before a if-statement a variable can be observed.
Within a if-statement it will not be observed anymore, how ever works.

[2022-08-10 09:18] jowliwon commented on #93
Pre compiled code
[code]

vs recompiled

[code]

As seen, the names of theses strings get renamed. Is this part of the issue why we cant debug this data in VS?
Besides this is not only strings, you do this with other types of other types of objects, they will also get renamed. And not observable any more.

[2022-09-09 06:07] wzswzd opened #97 "Async & InvalidProgramException : Common Language Runtime detected an invalid program."
**async** & **InvalidProgramException**
i find out MethodBoundaryAspect will throw a InvalidProgramException : Common Language Runtime detected an invalid program.
only like this :
[code]
and add this code can avoid crush :
[code]

[2022-09-16 18:50] psaxton commented on #97
This appears to be related to #66 in that a statement appears to be required between the end of a code block and the end of the method.

[2022-09-16 20:14] psaxton commented on #88
Without the additional code, it is impossible to reproduce the error from your example.

That said, this looks like it matches the pattern of a method ending in a code block (`if (removeItem != null) { AvailableContactViewModels.Remove(removeItem); }`) related to issue #66. A simple work around is to simply add another line of code after the block. (for example, end the method with `await Task.Com

[2022-09-19 15:37] psaxton opened #98 "Dotnet versions are out of date"
Projects currently use netstandard1.0, netframework452, netframework461, and netcoreapp2.1. Each of these dotnet versions is no longe supported and should be updated to a supported version.

[2022-09-20 20:11] psaxton commented on #66
I've created a set of tests to reproduce this defect. It is important to note that the exception happens at runtime when the affected method is called: It is not caught using the "VerifyAssembly" directive (PEVerify). It does not throw when the assembly is first loaded.

Commit with the tests is here: https://github.com/vescon/MethodBoundaryAspect.Fody/commit/2517a551ac330687f2f8e2bc86b62916b1ec9c

[2022-09-20 21:15] Ralf1108 commented on #66
@psaxton can you create a fork with your commit?
Somehow GitHub tells me that about your commit: "This commit does not belong to any branch on this repository, and may belong to a fork outside of the repository."
How did you do this?

[2022-09-20 21:16] #98 closed, assigned to nobody

[2022-09-21 09:23] Ralf1108 commented on #93
Can you try out prerelease "2.0.146-pre" and check if it solves your issues?
It is currently a prerelease because I am not so sure about the possible impacts of the [fix ](https://github.com/vescon/MethodBoundaryAspect.Fody/commit/9d451fbff2290110dc53d0a82caacb744fe782f4)
Maybe there are some issues when just using the original debug information.

[2022-09-21 13:54] psaxton commented on #66
@Ralf1108 That commit is on my fork and is currently the head of this branch: <https://github.com/psaxton/MethodBoundaryAspect.Fody/tree/issue66/invalid-program-exception> -- I'm not certain why github shows it as a commit on the vescon repository. I referenced the commit hash because I will be changing this branch and the commit should be immutable. I've pushed a branch <https://github.com/psaxto

[2022-09-21 21:02] psaxton commented on #66
I've been able to fix the InvalidProgramException in the case of a method ending with an if block. Changes can be found in my branch <https://github.com/psaxton/MethodBoundaryAspect.Fody/tree/issue66/invalid-program-exception> at commit ea7060e.

The problem caused by the try-catch block is not related. It seems to be that the outer try label is getting lost somewhere. I've stepped through the wea

[2022-09-22 02:33] Cricle commented on #89
I think it will a solution in async intercept, implement list in below.

- [X]  `Task<T>`
- [ ]  `Task`
- [ ]  `ValueTask`
- [ ]  `ValueTask<T>`

The result is

![image](https://user-images.githubusercontent.com/26201412/191645215-c6785a1d-6f69-495e-a5ae-01fe4206fe65.png)

[code]

[2022-09-22 16:14] psaxton commented on #97
After further discovery, this is similar to #66 but is actually caused by something different.

[2022-09-22 16:51] psaxton commented on #97
I've created a branch on my fork <https://github.com/psaxton/MethodBoundaryAspect.Fody/tree/issue97/invalid-program-exception> and pushed commit 91482ee with tests proving the try-catch defects.

[2022-09-23 08:44] jowliwon commented on #93
Just tested the 2.0.146-pre . This solves the issue of benig able to debug and observe all data as presented according to the example I previously posted above. Thank you Ralf1108 Excellent work!

[2022-09-23 09:21] Ralf1108 commented on #93
Wow, glad to hear.
So unfortunately I don't remember why I implemented the copying of the debug scope in this way instead of just using the original one.

So I will then make a production release.

Thx for your feedback!

[2022-09-23 11:36] Ralf1108 commented on #93
[v2.0.146](https://www.nuget.org/packages/MethodBoundaryAspect.Fody/2.0.146) is deployed

[2022-09-23 11:36] #93 closed

[2022-09-30 17:00] psaxton commented on #66
@Ralf1108 I'm not certain if you've seen the updates to this issue, so I'll try @ing you.. A fork is available at [my fork](https://github.com/psaxton/MethodBoundaryAspect.Fody/tree/issue66/test-to-prove-defect)

[2022-10-04 21:01] psaxton commented on #97
This will be fixed with PR #100

[2022-10-04 21:10] psaxton commented on #66
@Ralf1108 @ndrwrbgs I believe I have fully solved this issue in PR #100 if I could get some reviews and approval or criticism.

[2022-10-04 21:12] psaxton commented on #88
I believe this issue to be resolved in PR #100.

[2022-10-05 06:53] Ralf1108 commented on #66
@psaxton Thank you very much for your contribution !

[2022-10-05 06:53] Ralf1108 commented on #97
@psaxton Thank you very much for your contribution !

[2022-10-05 08:08] Ralf1108 commented on #66
please checkout nuget packeage [2.0.147-pre](https://www.nuget.org/packages/MethodBoundaryAspect.Fody/2.0.147-pre) if issues are solved

[2022-10-05 08:08] Ralf1108 commented on #97
please checkout nuget packeage [2.0.147-pre](https://www.nuget.org/packages/MethodBoundaryAspect.Fody/2.0.147-pre) if issues are solved

[2022-10-05 08:37] alewmt commented on #66
It does not solve the bug for me
method
![image](https://user-images.githubusercontent.com/9164890/194017437-e594dc3d-74b4-45e8-b955-3020374c917f.png)
cil
![image](https://user-images.githubusercontent.com/9164890/194017658-a469b292-55d7-4a30-bdae-15aa6e764a59.png)

[2022-10-05 08:46] Ralf1108 commented on #66
@alewmt thx for the feedback
@psaxton can you review this feedback?

[2022-10-05 17:18] psaxton commented on #66
Also, @alewmt code does not use any if, if-else or try blocks which seem to be the common thread in these issues.

[2022-10-05 17:39] alewmt commented on #66
unfortunately I couldn't make a min repro. I can't understand why this bug occurs in some places and does not occur in other similar places.

[2022-10-05 17:47] psaxton commented on #66
@alewmt It can be the most frustrating, I agree. I had one method where this issue appeared in "Release" configuration but not in "Debug" (I did try to repro in both configurations, btw). I don't think this issue of the `br.s` address seeming to overflow is related to this defect though. This issue was being caused when fixing up the `leave` instructions.

If you're able to find code that can be u

[2022-10-05 18:33] Ralf1108 commented on #66
Yes this could make a difference as the IL code is more optimized in Release than in Debug builds. I remember now that I had similar issues at the very beginning of the implementation of the MBA

[2022-10-11 07:07] psaxton commented on #66
It's currently the head commit on my issue66 branch on my fork (
https://github.com/psaxton/MethodBoundaryAspect.Fody/tree/issue66/invalid-program-exception
). I posted the commit URL so that it would always show the changes I was
referring to. ... I'm not sure why GitHub shows it this way, it was quite
surprising to me too.

On Tue, Sep 20, 2022, 15:15 Ralf ***@***.***> wrote:

[2022-10-20 10:58] vmandic commented on #66
Getting the issue still withv2.0.143-pre, aspect is:

[code]

The target method returns a Task eg. `[LogTime] private async Task ExecuteIteration(CancellationToken ct) { ... }`

I get the (START) printed and then it fails:

[code]

[2022-10-20 12:29] vmandic commented on #66
Also, I noticed I do not need the OnException override so removing it resolves my issue.

[2022-10-20 12:45] psaxton commented on #66
@Vedran can you please verify which version of MethodBoundaryAspect.Fody
you're using which is producing this error with OnException?

On Thu, Oct 20, 2022, 06:29 Vedran Mandić ***@***.***> wrote:

[2022-10-20 14:34] vmandic commented on #66
@psaxton pardon, made a typo initially, latest:
<PackageReference Include="MethodBoundaryAspect.Fody" Version="2.0.147-pre" />

[2022-10-20 15:54] psaxton commented on #66
@vmandic Thank you for following up. I suspected it was a typo, but it's always best to confirm. I'm unable to repro in netcoreapp3.1 or net6.0.

I don't have a `GetMethodContextName()` method like you had in your exception handler so I just made an extension method `public static string GetMethodContextName(this MethodBase method) => method.Name;`

You've already mentioned you're able to work aro

[2022-10-26 21:39] psaxton opened #101 "Unable to set debug breakpoint in methods with sequence points"
## Problem
Setting a break point in Visual Studio or VS Code within a decorated method with sequence points results in the breakpoint being ignored.

## Expected Result
The debugger should be able to find the breakpoint and break.

## Minimum reproducible code
[code]

Program.cs
[code]

From Visual Studio or VS Code, set a breakpoint within Interactor.DoSomething() (Lines 13-18). Run the program f

[2022-10-31 20:48] psaxton commented on #66
@vmandic I've tried every direction to repro this issue locally. If this is still a problem for you could you try ensuring your build environment has been cleaned and rebuilding (`dotnet clean; dotnet build`)? If it is then still a problem, could you provide the content of `dotnet --info` ?

[2022-11-01 10:44] Ralf1108 commented on #101
This really seems to be an regression. So with your test case this should be reproducible

[2022-11-01 10:47] Ralf1108 commented on #101
commit was [9d451fbff2290110dc53d0a82caacb744fe782f4](commit:9d451fbff2290110dc53d0a82caacb744fe782f4)

[2022-11-03 14:47] psaxton commented on #101
Confirmed, tested with that single commit reverted [issue101/rollback-9d451fb](https://github.com/psaxton/MethodBoundaryAspect.Fody/tree/issue101/rollback-9d451fb). Should I create a pull request?

[2022-11-07 14:27] #101 closed

[2022-11-07 14:36] Ralf1108 commented on #101
fixed in v2.0.148

[2022-11-09 17:20] psaxton opened #103 "v2.0.148 nuget publish failed"
The nuget publish for version 2.0.148 failed due to [expired or incorrect api key](https://github.com/vescon/MethodBoundaryAspect.Fody/actions/runs/3411259851/jobs/5675240326#step:11:43).

Expected result: The package gets published to NuGet.

[2022-11-09 17:22] psaxton commented on #103
@Ralf1108 I'm hoping you have access to update the nuget api key.

[2022-11-10 07:41] Ralf1108 commented on #103
HI @psaxton,

I am working on it since the release but the access to the api key is by my former company. I am in contact with them and they try to help me out. Keep the fingers crossed ;-)

[2022-11-11 11:03] marcells commented on #103
Hi @psaxton and @Ralf1108,

a new api key is assigned now. There shouldn't be any issues in at least the next 365 days. 🙂

I did also re-run the failed build.

[2022-11-11 11:03] #103 closed

[2022-11-11 16:51] psaxton commented on #86
@epitka (Acknowledging this old issue may no longer be of interest to you.) This may have been solved in v2.0.139 using the MulticastAttributes overload of the attribute. See [src/MethodBoundaryAspect.Fody.UnitTests.TestAssembly.NetFramework/PublicMethodAttributeAspectMethods.cs](https://github.com/vescon/MethodBoundaryAspect.Fody/blob/master/src/MethodBoundaryAspect.Fody.UnitTests.TestAssembly.Ne

[2022-11-23 00:56] jeffward01 opened #109 "How to access ILogger 'injected' property to 'log' on exception?"
Hello!

My goal is this:

I want to emulate this:

[code]

Is it possible to access the `ILogger` type? I don't see any examples or other issues that attempt to access a DI resolved type like this.

Thanks

[2022-11-23 07:47] Ralf1108 commented on #109
If I understand you correct you want to inject a service into an aspect?

As the aspect scope is the weaved method there is no direct solution to this.
What works in every case would be a static global service locater which is accessed inside the aspect class.

More tricky solution would be to have the contract that a specific argument of the method call is used for the required service but this w

[2022-11-23 07:48] Ralf1108 commented on #109
checkout this documentation from PostSharp:
[https://doc.postsharp.net/global-service-locator](https://doc.postsharp.net/global-service-locator)

[2022-11-23 21:22] dwekwejt opened #110 "Aspect doesn't work for extension methods"
Hi
Is it possible to add aspect on extension method?

[code]

[2022-11-23 21:37] #110 closed

[2022-11-23 21:38] dwekwejt commented on #110
Sorry I had wrong filtering for my logger. I excluded namespace where was my extension method.

[2022-11-28 16:17] jowliwon opened #111 "Decorating "async void" method throws weaver exception for aspect with OnException override"
So, the thing is I have this injection script I run on all my source files so they can all be monitored and observed for issues.
It works well, instead of just do all of this manually.

I have these put on class level, not on individual methods like the example bellow.

[code]

How ever as Im only interested in capturing Exceptions at this stage, I have the ExceptionLogger it self look like this

[2022-11-28 16:22] Ralf1108 commented on #111
Does it compile if you provide empty overrides for OnEntry and OnExit methods?

[2022-11-28 16:27] jowliwon commented on #111
Im afraid not. As soon as OnException is in the code it stops compiling, with or without OnEntry and OnExit.

[2022-11-28 16:34] Ralf1108 commented on #111
Can you try to return a Task or an int from the GetAsync() method? Maybe there are problems with fire and forget async method weaving

[2022-11-28 16:39] jowliwon commented on #111
That worked!

[code]

[2022-11-28 16:43] Ralf1108 commented on #111
Great. Then this should also be reproducible if the attribute is just decorating the GetAsync() method?

[2022-11-28 16:46] jowliwon commented on #111
Yes, by having this on method level, its the same behavior. With and with out returning Task.

[2022-11-28 16:49] Ralf1108 commented on #111
So then the bug is handling of void async methods.
Wondering why this was not detected earlier.

So all in all you have a workaround and we can then create a test case for the issue